.navbar {
	padding: 5rem 2rem!important;
	
}

.col-sm-10 {
	padding-top: 130px;
}

p {
	width: 80%;
}

li a {
	color: #4a4a4a;
}

li a:hover {
	color: #A1A1A1;
}

#home-links a {
	color: #4a4a4a;
	float: right;
	padding-top: 20px;
	padding-right: 50px;
}

#home-links {
	padding-right: 150px;
}

/** CART PAGE **/
a.btn {
	width: 70%!important;
	background-color: #e01a2b!important;
	color: white!important;
}

a.btn:hover {
	background-color: #e10a2b!important;
}

.col-sm-3.subtotal {
	text-align: center;
	padding-top: 100px;
}

.col-sm-6.product {
	padding-top: 100px;
}

span.price {
	float: right;
}

span.title {
	float: left;
}

span.product-image {
	float: left;
	padding-right: 20px;
}


a:hover {
	color: #A1A1A1;
}

.form {
	width: 500px;
	padding-top: 100px;
	padding-left: 200px;
	font-size: 14px;
}

label {
	font-weight: 200;
	font-size: 14px;
}

/* Create account/login inputs */
input[type=text], input[type=password] {
  width: 100%;
  padding: 6px 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

input#account {
	background-color: white;
	color: black;
}


/* Set a style for all buttons */
button {
  background-color: #4FCAFF;
  color: white;
  border: none;
  width: 80%;
  padding-top: 2px;
  padding-bottom: 2px;
}

.form.buttons {
  padding-top: 20px;
  padding-left: 80px;
  width: 80%;
  text-align: center;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

button#size {
    color: black;
    background-color: white;
    border: solid #d7d7d7;
    border-width: 1px;
    width: 30%;
}

select {
	width: 50px;
    height: 30px;
}

input {
    background-color: #e01a2b;
    border: none;
    color: white;
    width: 150px;
    height: 40px;
}

/* Add padding to containers */
.container {
  padding: 16px;
}

.caption {
	display: block;
	font-size: 12px;
}

.item {
	padding-bottom: 100px;
}

.item-details.text-left {
	padding-left: 100px;
}

/* Purchase page */
.form.purchase {
	padding-left: 30px;
	padding-top: 40px;
	width: 350px;
}

.address {
	padding-top: 60px;
}

.col-sm-8.shipping-options {
	padding-top: 80px;
	padding-left: 200px;
}

.options {
	padding-top: 20px;
}

input[type=radio] {
	color: red;
	width: 100px;
	height: 15px;
	font-size: 16px;
}

label#shipping {
	font-weight: 700;
	font-size: 16px;
}

#descr {
	padding-left: 110px;
	padding-bottom: 10px;
}

.col-sm-8.shipping-options.payment {
	padding-bottom: 100px;
}

#cardtype {
	width: 200px;
}

.cards {
	line-height: 2;
}






















